@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Paytone+One&family=Quicksand:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: monospace;
  color: #000000;
}

p{
  padding: 0px;
  margin: 0px;
  font-size: 45px;
  font-weight: 900;
  font-family: 'Paytone One', sans-serif;
}
.wrapper {
  height: 10vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.effect-wrapper {
  text-align: center;
  font-weight: normal;
}

#typed {
  font-weight: bold;
  color: #ffa500;
}

.cursor {
  display: inline-block;
  background-color: #b0ff95;
  animation: blinker 800ms infinite;
}

.cursor.typing-true {
  animation: none;
}

@keyframes blinker {
	0% { background-color: #000000; }
	50% { background-color: transparent; }
	100% { background-color: #000000; }
}
