@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.app{
  display: flex;
  background-color: #ffffff;
  height: 100vh;
  width: auto;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

/**/
.nav-header{
  width: 100%;
  background-color: #02305f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  border: 0.1rem solid #f4ebeb;
}

.nav-title h4{
  color: white;
  font-weight: 600;
}